@import 'theme.scss';
@import 'variables.scss';

.character-container {
  @include flexbox(column, 1rem);
  padding-top: 1.5em;

  .character-heading {
    color: $white;
    text-align: center;
    font-size: 2.2rem;
  }

  .character-chosen-message {
    color: $white;
    padding-bottom: 0.8em;
  }

  .image-container {
    @include flexbox(row, 0px);
    .duck-image {
      padding-top: 1rem;
      max-width: 120px;
      min-height: 40px;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  .row-character {
    @include flexbox(row, 20px);
  }
}

.character-button-container {
  padding: 0.8em 0 0.5em 0;
}
