@import 'theme.scss';
@import 'variables.scss';

.game-room-container {
  position: absolute;

  top: 50%;
  transform: translate(0%, -50%);
  color: $white;
  text-align: center;
  .heading-setup-game {
    font-weight: 900;
  }

  .difficulty-container {
    @include flexbox(column, 2px);
    padding: 1em;

    .choose-container {
      @include flexbox(row, 10px);
      flex-wrap: wrap;
    }
  }

  .category-container {
    padding: 1em;
    .pick-container-category {
      padding-top: 0.2em;
      @include flexbox(row, 12px);
      flex-wrap: wrap;
    }
  }

  .pick-heading {
    font-size: 1.3rem;
    padding-bottom: 0.5em;
  }

  .ready-to-play-container {
    padding-top: 1em;
  }
}
