@import 'theme.scss';
@import 'variables.scss';

.questions-container {
  color: $white;
  box-shadow: 3px 4px 3px 0px rgba(0, 0, 0, 0.6);
  min-width: 50%;
  min-height: 500px;
  margin: 0 auto;

  @include center();

  .question-answer-container {
    @include flexbox(column, 60px);
    padding: 1em;

    .questions {
      font-size: 1.3rem;
      text-align: center;
    }

    .questions-answers {
      @include flexbox(row, 20px);
      width: 80%;
      flex-wrap: wrap;
    }
  }

  .bottom-container {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .selected-option,
    .error-selected-message {
      text-align: center;
    }
  }
  .timer-container {
    font-size: 1.2rem;
    text-align: end;
    padding-bottom: 2em;
    .timer {
      border-radius: 20px;
      background: $white;
      color: $purple;
      padding: 0 1em;
      margin-left: 0.2em;
    }
  }
}

.spinner {
  @include center();
}
